
<div id="progressbar">

</div>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" data-aos="fade-up" href="#page-top">Greg Bork</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#passion">Passion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>




<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="col-md-8 intro-text">
      <div class="intro-lead-in">
        <div data-aos="fade-right" data-aos-mirror="true">
        <div class="introduce">Hey, I'm Greg Bork</div>
        </div>
      </div>
      <div data-aos="fade-left" data-aos-mirror="true">
      <div class="introduce-statement">Fourth Year Undergraduate <br> in Computer Science</div>
      </div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#contact">Let's Connect!</a>
    </div>
  </div>
</header>

<!-- Services
<section class="page-section" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">University of California</h2>
        <h3 class="section-subheading text-muted">Most Remmemorable Coursework<br> </h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">E-Commerce</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Responsive Design</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Web Security</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
  </div>
</section>
-->

<!-- Portfolio Grid -->


<section style="background: #e8e8e8" class=" page-section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Projects</h2>
        <h3 style="font-size: 23px; margin-bottom: 30px;" class="section-subheading text-muted">Click to View</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="far fa-star fa-3x"></i>
            </div>
          </div>
          <div data-aos="flip-right" data-aos-delay="100">
          <img class="img-fluid" src="../assets/portfolio/01-thumbnail.png" alt="">
          </div>
        </a>
        <div class="portfolio-caption">
          <h4>Thrift Slug</h4>
          <p class="text-muted">Mobile Application</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="far fa-star fa-3x"></i>
            </div>
          </div>

          <div data-aos="flip-right" data-aos-delay="200">
          <img class="img-fluid" src="../assets/portfolio/02-thumbnail.png" alt="">
          </div>
        </a>
        <div class="portfolio-caption">
          <h4>LeafParking</h4>
          <p class="text-muted">Business Model</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="far fa-star fa-3x"></i>
            </div>
          </div>
          <div data-aos="flip-right" data-aos-delay="300">
          <img class="img-fluid" src="../assets/portfolio/03-thumbnail.png" alt="">
          </div>
        </a>
        <div class="portfolio-caption">
          <h4>SlugLife</h4>
          <p class="text-muted">Business</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="far fa-star fa-3x"></i>
            </div>
          </div>
          <div data-aos="flip-left" data-aos-delay="300">
          <img class="img-fluid" src="../assets/portfolio/04-thumbnail.jpg" alt="">
          </div>
        </a>
        <div class="portfolio-caption">
          <h4>ExtraHand</h4>
          <p class="text-muted">Business Model</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="far fa-star fa-3x"></i>
            </div>
          </div>
          <div data-aos="flip-left" data-aos-delay="200">
          <img class="img-fluid" src="../assets/portfolio/05-thumbnail.jpg" alt="">
          </div>
        </a>
        <div class="portfolio-caption">
          <h4>Arduino Projects</h4>
          <p class="text-muted">Electronics</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-star fa-3x"></i>
            </div>
          </div>
          <div data-aos="flip-left" data-aos-delay="100">
          <img class="img-fluid" src="../assets/portfolio/06-thumbnail.png" alt="">
          </div>
        </a>
        <div class="portfolio-caption">
          <h4>Ruby on Rails</h4>
          <p class="text-muted">Web Dev</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Big Circle section -------------------------------->


<section style="background: #0d0d0d" class="page-section" id="passion">
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <div data-aos="zoom-in-left" data-aos-mirror="true">
            <img class="img-fluid rounded-circle" src="../assets/stuff/01.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <div data-aos="zoom-in-right" data-aos-mirror="true">
            <h2 style="color: #eaae5b" class="display-4">Passion for Design </h2>
            <p style="color: #e8e8e8">I enjoy exposing myself to new experiences, whether it pertains to computing or my daily life.  I fell in love with photoshop when I was in high school. It allowed me to communicate my creative ideas into designs that others can enjoy.  </p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <div data-aos="zoom-in-right" data-aos-mirror="true">
            <img class="img-fluid rounded-circle" src="../assets/stuff/02.jpg" alt="">
            </div>
            </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <div data-aos="zoom-in-left" data-aos-mirror="true">
            <h2 style="color: #eaae5b" class="display-4">Passion for New Experiences</h2>
            <p style="color: #e8e8e8">I enjoy exposing myself to new experiences, whether it pertains to computing or my daily life. This allowed me to learn efficiently in any circumstance. </p>
            </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <div data-aos="zoom-in-left" data-aos-mirror="true">
            <img class="img-fluid rounded-circle" src="../assets/stuff/03.png" alt="">
            </div>
            </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <div data-aos="zoom-in-right" data-aos-mirror="true">
            <h2 style="color: #eaae5b" class="display-4">Passion for Innovation</h2>
            <p style="color: #e8e8e8">After my experiences with local tech mentors and business leaders through my entrepreneurial projects, I have a passion towards projects that can improve the welfare of others, whether with an established company or from the the ground up. </p>
            </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</section>


<!-- End Big Circle section -------------------------------->

<!-- About -->
<section  class="page-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">About Me</h2>
        <h3 style="font-size: 23px; margin-bottom: 30px;" class="section-subheading text-muted">Here is a brief timeline to summarize who I am.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="../assets/about/1.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>UpBringing</h4>
                <h4 class="subheading">Before College</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">I was born and raised in Bakersfield, California until I attended the University of California, Santa Cruz. My favorite memories include: playing for the band and soccer team for four years, while holding leadership positions in Student Government and Philanthropy. </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="../assets/about/2.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Attending the University of California, Santa Cruz<h4 class="subheading">Leadership Roles</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">I wanted to take my leadership skills to college and was elected as a member of the college student government.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="../assets/about/3.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Computer Science</h4>
                <h4 class="subheading">Choosing the right major</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">I found a love for computer science my sophomore year of college. I gradually became aware and appreciated the countless ways computer science has helped progress society.  </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="../assets/about/4.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Projects</h4>
                <h4 class="subheading">Entrepreneurship</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">I joined an Entrepreneurship Academy where I could put my ideas into creation. This was my first step into the tech world. I worked with mentors throughout Santa Cruz on my first business model, LeafParking, where my team and I were working to solve the parking crisis around our university.  </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="../assets/about/5.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Expanding</h4>
                <h4 class="subheading">Further Projects</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">My computer science pursuits began branching outside the classroom. I worked independently and collaborated with my housemates, coursemates, and friends with numerous projects that we thought were helpful to us and others. </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="../assets/about/6.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>After Graduation</h4>
                <h4 class="subheading">Class of 2020</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">I am interested in using my education and skill sets to work with a company that has a goal of using technology to create a better and more efficient society. </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Be Part
                <br>Of My
                <br>Story!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>








  <!-- Portfolio Modals -->

  <!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Thrift Slug</h2>
                <p class="item-intro text-muted">Android App</p>
                <img class="img-fluid d-block mx-auto" src="../assets/portfolio/01-full.jpg" alt="">
                <p>This was a project I completed with the help of two other team members. The goal of this project was to allow university students to sell and buy goods, such as books, clothes, and more. This allowed a safe environment for transactions because its users are strictly for UCSC students.  </p>
                <ul class="list-inline">
                  <li>Date: Completed December 3, 2019</li>

                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Leaf Parking</h2>
                <p class="item-intro text-muted">Business Model</p>
                <img class="img-fluid d-block mx-auto" src="../assets/portfolio/02-full.jpg" alt="">
                <p>I worked on this project with three other undergraduates. We started this project through an Entrepreneurship Academy where we learned how to create viable business models with the help of local mentors and business leaders. We conducted thorough R&D to establish a business proposal that we pitched for IDEA Hub. Our pitch was awarded the maximum funding ($2,500) to help launch our business idea. </p>
                <ul class="list-inline">

                </ul>
                <button class="btn btn-primary"  type="button" onclick="window.location.href = 'https://www.icloud.com/keynote/0ZEZCeV-2eFHvfKhir4hprwBQ#LeafParking_Final';">View Project Presentation</button>
                <br><br>
                <button class="btn btn-primary"  type="button" onclick="window.location.href = 'https://ideahub.sites.ucsc.edu/student-projects/';">View Project on IDEA Hub</button>
                <br><br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Slug Life</h2>
                <p class="item-intro text-muted">Business Project</p>
                <img class="img-fluid d-block mx-auto" src="../assets/portfolio/03-full.jpg" alt="">
                <p>I created Slug Life after noticing the lack of merchandise at my university. Our students pride themselves for attending, so I wanted to make designs that students could use to display this pride. I asked many students from diverse groups for themes that would be most appealing. The most popular of the themes related to banana slugs (our mascot) combined with a comical projection. I got to work and made many designs in photoshop and chose the best ones to produce. </p>
                <ul class="list-inline">

                </ul>
                <br><br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Extra Hand</h2>
                <p class="item-intro text-muted">Business Model</p>
                <img class="img-fluid d-block mx-auto" src="../assets/portfolio/04-full.jpg" alt="">
                <p>This was a business model I pursued with my housemate after helping aquaintances move into their house. We saw that many people who don't have the time, capability, or knowledge to do certain tasks end up spending lots of money hiring professionals to do menial tasks.</p>
                <ul class="list-inline">
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Arduino Projects</h2>
                <p class="item-intro text-muted">Messing Around</p>
                <img class="img-fluid d-block mx-auto" src="../assets/portfolio/05-full.jpg" alt="">
                <p>I created fun and useful machines with arduinos. These ranged from creating super mario tunes with buzzers, controlling house temperature with temp and humidity modules, using motion sensors to detect if someone entered the room, and more.   </p>
                <ul class="list-inline">

                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Rails 6</h2>
                <p class="item-intro text-muted">Web Development</p>
                <img class="img-fluid d-block mx-auto" src="../assets/portfolio/06-full.png" alt="">
                <p>Learning Ruby on Rails made web development fun and efficient. The uses of learning web development has been useful to carry out my projects and has become one of my best interests. </p>
                <ul class="list-inline">
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--------------- End of Projects section ------------------------>




<section class="page-section" id="contact">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Let's Get in Touch</h2>
        <div class="email-lookingfor-statement" style="margin-bottom: 30px;" >I am actively looking for Computer Science related jobs!</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
      <div class="email-statement" style="font-size: 24px;" >Contact me through email: </div>
      <div class="email" style="margin-bottom: 70px;" class="section-subheading ">gregorybork1@gmail.com</div>
      </div
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 style="margin-bottom: 60px;" class="section-heading text-uppercase">Additional Links</h2>
          <h3 class="section-subheading text-muted"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/greg-bork/">
                  <i class="fab fa-linkedin-in big-icon" style="colors: white;"></i>
                </a>
              </li>
            </ul>
            <p style="color: white;">LinkedIn</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://docs.google.com/document/d/1oP-5hiSpHkf46ktsUAoY2irOQCPnq5vnrzYh1e9j3KI/edit?usp=sharing">
                  <i class="far fa-file-alt big-icon-file"></i>
                </a>
              </li>
            </ul>
            <p style="color: white;">Resume</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://github.com/gregorybork">
                  <i class="fab fa-github big-icon-github"></i>
                </a>
              </li>
            </ul>
            <p style="color: white;">Github</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<script type="text/javascript">
  $(window).scroll(function() {
      var scroll = $(window).scrollTop(),
      dh = $(document)height(),
      wh = $(window).height();
      scrollPercent = (scroll/(dh-wh)) *100;
      $('#progressbar').scss('height', scrollPercent + '%');
  });
</script>
